<section class="my-5">
    <div class="container">
        <div class="row gy-4 gx-2">
        @for (product of allProducts; track $index) {
            <div class="col-md-5 col-lg-3 cursor-pointer">

                <div class="product h-100 p-3">
                    
                    @if (!ProductIds.has(product.id)) {
                        <div class="text-end mb-2">
                            <i (click)="AddProductToWishList(product._id)" class="fa-solid cursor-pointer fa-heart fs-3"></i>
                        </div>
                    }
                    @else if (ProductIds.has(product.id)) {
                        <div class="text-end">
                            <i (click)="RemoveProductFromWishList(product._id)" class="fa-solid text-danger cursor-pointer fa-heart fs-3"></i>
                        </div>
                    }
                    
                    
                      
                    
                    <div [routerLink]="'/productdetails/'+ product._id">
                    <img class="w-100" [src]="product.imageCover" alt="Product Image">
                    <p class="m-0 text-start mt-3">{{product.category.name}}</p>
                    <h3 class="text-start">{{ product.title.split(" ").slice(0,3).join(" ") }}</h3>
                    <div class="d-flex justify-content-between">
                        <span>{{product.price | currency:'GBP'}}</span>
                        <span><i class="fa-solid fa-star rating-color me-1"></i>{{product.ratingsAverage}}</span>
                    </div>
                     <p [ngClass]="{
                        'text-danger': product.quantity <= 0,
                        'text-main': product.quantity > 0
                     }" class="m-0">{{product.quantity | productStock}}</p>
                    </div>
                    <button (click)="AddProductToCart(product._id)" class="btn-main w-100 mt-3">Add To Cart <i class="fa-solid text-white fa-cart-shopping"></i></button>
                </div>

            </div>
        }
    </div>
    </div>
</section>
