<footer class="py-5 bg-main-light">
    <div class="container">
        <div class="foot-head">
            <h3>Get the FreshCart app</h3>
            <p>We will send you a link, open it on phone to download the app.</p>
        </div>

        <div class="foot-inputs border-bottom pb-4 border-secondary-subtle">
            <div class="row gy-2">
                <div class="col-md-10">
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Email">
                </div>
                <div class="col-md-2">
                    <button class="btn-main w-100">Share App Link</button>
                </div>
            </div>
        </div>

        <div class="foot-info my-3 d-flex gap-5 flex-column flex-md-row justify-content-between align-items-center border-bottom pb-4 border-secondary-subtle ">
            <div class="payment-partners d-flex align-items-center gap-2 w-50">
                <h6 class="m-0 fw-bold">Payment Partners</h6>
                <img class="logo-width" src="./assets/images/footer-icons/Amazon_Pay_logo.svg.png" alt="Amazon Pay Logo">
                <img class="logo-width" src="./assets/images/footer-icons/american-express-blue-logo-19532.png" alt="American Express Logo">
                <img class="logo-width" src="./assets/images/footer-icons/MasterCard_Logo.svg.png" alt="MasterCard Logo">
                <img class="logo-width" src="./assets/images/footer-icons/paypal.png" alt="paypal Logo">
            </div>
            <div class="d-flex flex-column flex-md-row align-items-center justify-content-end">
                <p class="m-0 fw-bold">Get deliveries with FreshCart</p>
                <img class="store-width cursor-pointer" src="./assets/images/footer-icons/apple.png" alt="App Store ios">
                <img class="store-width cursor-pointer" src="./assets/images/footer-icons/en_badge_web_generic.png" alt="Google Play Store">
            </div>
        </div>

        
    </div>
</footer>
