<section class="mt-5 mb-3 pt-1">
    <div class="container my-5">
        <div class="row">
                
                <div class="col-md-3 ">
                    <img class="w-100" [src]="product?.imageCover" [alt]="product?.title">
                </div>
            
                <div class="col-md-9 mt-5">
                    <h3>{{product?.title}}</h3>
                    <p class="text-black-50">{{product?.description}}</p>
                    <p>{{product?.category?.name}}</p>
                    <div class="d-flex justify-content-between">
                        <span>{{product?.price}} EGP</span>
                        <span>
                        @if (product.ratingsAverage % 1 !== 0) {
                            <i class="fa-solid fa-star-half-stroke rating-color me-1"></i>
                        }
                        @for (num of ['1','2','3','4','5'].slice(0,product.ratingsAverage); track $index) {
                            <i class="fa-solid fa-star rating-color me-1"></i>
                        }
                            
                         {{product.ratingsAverage}}
                        </span>
                    </div>
                    <button (click)="AddProductToCart(product._id)" class="btn-main w-100 mt-3">{{"main-layout.product-details.btn" | translate}}<i class="fa-solid me-2 text-white fa-cart-shopping"></i></button>
                </div>
            
        </div>
    </div>
</section>
