<section>
    <div class="container my-5">
        <div class="row">

                <div class="col-md-3 ">
                    <img class="w-100" [src]="product.imageCover" [alt]="product.title">
                </div>
            
                <div class="col-md-9 mt-5">
                    <h3>{{product.title}}</h3>
                    <p>{{product.description}}</p>
                    <p>{{product.category.name}}</p>
                    <div class="d-flex justify-content-between">
                        <span>{{product.price}} EGP</span>
                        <span><i class="fa-solid rating-color fa-star"></i> {{product.ratingsAverage}}</span>
                    </div>
                    <button class="btn-main w-100 mt-3">Add To Cart</button>

                </div>
            
        </div>
    </div>
</section>
