<section>
    <div class="container my-5 py-4">
    
    @if(steps === 1){
        <h1>{{"auth-layout.forgetpassword.title" | translate}}</h1>
        
            <form [formGroup]="forgotpasswordForm" (ngSubmit)="forgotSubmit()">

            <div class="row gy-2">

                <div class="col-md-12 my-3">
                    <label for="email" class="form-label my">Email:</label>
                    <input [ngClass]="{
                        'is-invalid': forgotpasswordForm.get('email')?.errors && (forgotpasswordForm.get('email')?.touched || forgotpasswordForm.get('email')?.dirty),
                        'is-valid': !forgotpasswordForm.get('email')?.errors && (forgotpasswordForm.get('email')?.touched || forgotpasswordForm.get('email')?.dirty)
                    }" formControlName="email" type="email" class="form-control" id="email" placeholder="name@example.com">
                    <app-alert-error [Form]="forgotpasswordForm" FormControl="email"></app-alert-error>
                </div>

            </div>
            @if(errorMsg){
                <p class="alert alert-danger mt-3 m-0">{{errorMsg.split(' ').slice(0,9).join(' ')}}!</p>
            }
            <div class="text-end">
                <button [disabled]="forgotpasswordForm.invalid || isLoading" class="btn-main mt-3">{{"auth-layout.forgetpassword.reset-btn" | translate}}
                @if(isLoading){
                <div class="spinner-border spinner-border-sm" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
                }
                </button>
            </div>

            

        </form>
    }

    @if(steps === 2){
        <h1>Enter OTP:</h1>
        
        <form [formGroup]="verifycodeForm" (ngSubmit)="verifySubmit()">
            <div class="row gy-2 mb-5">

                <div class="col-md-12">
                  <div class="container height-100 d-flex justify-content-center align-items-center">
                        <div class="position-relative">
                            <div class="card py-4 px-5 text-center">
                                <h4>{{"auth-layout.forgetpassword.enter-otp" | translate}}</h4>
                                <div> <h6>{{"auth-layout.forgetpassword.code-sent" | translate}}</h6> {{forgotpasswordForm.get('email')?.value}} </div>
                                <div id="otp" class="inputs d-flex flex-row justify-content-center mt-2"> <input formControlName="resetCode" class="m-2 text-center form-control rounded" type="text"/></div>
                                <div class="mt-4"> 
                                        <button [disabled]="verifycodeForm.invalid || isLoading" class="btn-main mt-3">{{"auth-layout.forgetpassword.confirm-btn" | translate}}
                                        @if(isLoading){
                                        <div class="spinner-border spinner-border-sm" role="status">
                                            <span class="visually-hidden">Loading...</span>
                                        </div>
                                        }
                                        </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            @if(errorMsg){
                <p class="alert alert-danger mt-3 m-0">{{errorMsg}}!</p>
            }
            <div class="text-end">
                
            </div>
        </form>
    }

    @if(steps === 3){
        <h1>{{"auth-layout.forgetpassword.enter-pass" | translate}}</h1>
        
            <form [formGroup]="resetPasswordForm" (ngSubmit)="resetSubmit()">

            <div class="row gy-2">

                <div class="col-md-12">
                    <label for="newPassword" class="form-label">New Passowrd:</label>
                    <input hidden formControlName="email" type="email" class="form-control" id="email">
                    <input [ngClass]="{
                        'is-invalid': resetPasswordForm.get('newPassword')?.errors && (resetPasswordForm.get('newPassword')?.touched || resetPasswordForm.get('newPassword')?.dirty),
                        'is-valid': !resetPasswordForm.get('newPassword')?.errors && (resetPasswordForm.get('newPassword')?.touched || resetPasswordForm.get('newPassword')?.dirty)
                    }" formControlName="newPassword" type="password" class="form-control" id="newPassword">
                    <app-alert-error [Form]="resetPasswordForm" FormControl="password"></app-alert-error>
                </div>

            </div>
            @if(errorMsg){
                <p class="alert alert-danger mt-3 m-0">{{errorMsg.split(' ').slice(0,9).join(' ')}}!</p>
            }
            @if(resetmsgSuccess){
                <p class="alert alert-success mt-3 m-0">Password Changed Successfully!</p>
            }
            <div class="text-end">
                <button [disabled]="forgotpasswordForm.invalid || isLoading" class="btn-main mt-3">{{"auth-layout.forgetpassword.reset-btn" | translate}}
                @if(isLoading){
                <div class="spinner-border spinner-border-sm" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
                }
                </button>
            </div>

            

        </form>
    }
        
    </div>
</section>