<section class="my-5">
    <div class="container"> 
        <h2>Login Now :</h2>

        <div class="row my-3">
        
            <div class="col-md-12">
            <label for="Email" class="form-label">Email:</label>
            <input type="email" class="form-control" id="Email" placeholder="name@example.com">
            </div>

            <div class="col-md-12 mt-3">
            <label for="Password" class="form-label">Password:</label>
            <input type="password" class="form-control" id="Password">
            </div>

        </div>

        <div class="text-end">
        <button class="btn bg-main align-self-end">Login</button>
        </div>

    </div>
</section>
