<section class="my-5">
    <div class="container"> 
        <h2>Login Now :</h2>

        <form [formGroup]="loginForm" (ngSubmit)="loginSubmit()">
            <div class="row my-3">
        
            <div class="col-md-12">
            <label for="Email" class="form-label">Email:</label>
            <input [ngClass]="{
                'is-invalid': loginForm.get('email')?.errors && (loginForm.get('email')?.touched || loginForm.get('email')?.dirty),
                'is-valid': !loginForm.get('email')?.errors && (loginForm.get('email')?.touched || loginForm.get('email')?.dirty)
            }" formControlName="email" type="email" class="form-control" id="Email" placeholder="name@example.com">
            <app-alert-error [Form]="loginForm" FormControl = "email"></app-alert-error>
            </div>

            <div class="col-md-12 mt-3">
            <label for="Password" class="form-label">Password:</label>
            <input [ngClass]="{
                'is-invalid': loginForm.get('password')?.errors && (loginForm.get('password')?.touched || loginForm.get('password')?.dirty),
                'is-valid': !loginForm.get('password')?.errors && (loginForm.get('password')?.touched || loginForm.get('password')?.dirty)
            }" formControlName="password" type="password" class="form-control" id="Password">
            <app-alert-error [Form]="loginForm" FormControl = "password"></app-alert-error>
            </div>

            </div>
            @if(erroMsg){
                <p class="alert alert-danger m-0 my-2">{{erroMsg}}</p>
            }
            @if(loginmsgSuccess)
            {
                <p class="alert alert-success m-0 my-2">Login Success!</p>
            }
            <div class="d-flex justify-content-between">
                <div>
                <button [disabled]="loginForm.invalid || isLoading" class="btn-main">Login
                    @if(isLoading){
                        <div class="spinner-border spinner-border-sm" role="status">
                        <span class="visually-hidden">Loading...</span>
                        </div>
                    }
                </button>
                </div>
                <div>
                    <p class="m-0 text-success fw-semibold cursor-pointer" routerLink="/forgot">Forgot Password?</p>
                </div>

            </div>
        </form>

        

    </div>
</section>
