<section class="mb-3">
  <owl-carousel-o [options]="customOptions">

    <ng-template carouselSlide>
    <img class="w-100" height="400px" src="./assets/images/static slider/31242273_7796293.jpg" alt="Slider Image 1">
    </ng-template>  

    <ng-template carouselSlide>
    <img class="w-100" height="400px" src="./assets/images/static slider/9888194.jpg" alt="Slider Image 2">
    </ng-template>  

    <ng-template carouselSlide>
    <img class="w-100" height="400px" src="./assets/images/static slider/5659031.jpg" alt="Slider Image 3">
    </ng-template>  
    
  </owl-carousel-o>

</section>
