<section class="mb-3">
  <owl-carousel-o [options]="customOptions">

    <ng-template carouselSlide>
    <img class="w-100" height="420px" src="./assets/images/Slider img/1.jpg" alt="Slider Image 1">
    </ng-template>  

    <ng-template carouselSlide>
    <img class="w-100" height="420px" src="./assets/images/Slider img/3.jpg" alt="Slider Image 2">
    </ng-template>  

    <ng-template carouselSlide>
    <img class="w-100" height="420px" src="./assets/images/Slider img/4.jpg" alt="Slider Image 3">
    </ng-template>  
    
  </owl-carousel-o>

</section>
