<section class="my-4">
    <div class="container">
        <div class="row gy-2">
            <h4>Register Now :</h4>

            <div class="col-md-12">
                <label for="userName" class="form-label">Name:</label>
                <input type="text" class="form-control" id="userName">
            </div>

            <div class="col-md-12">
                <label for="userEmail" class="form-label">Email:</label>
                <input type="email" class="form-control" id="userEmail">
            </div>

            <div class="col-md-12">
                <label for="userPassword" class="form-label">Password:</label>
                <input type="password" class="form-control" id="userPassword">
            </div>
            
            <div class="col-md-12">
                <label for="userRePassword" class="form-label">RePassword:</label>
                <input type="password" class="form-control" id="userRePassword">
            </div>

            <div class="col-md-12">
                <label for="userPhone" class="form-label">Phone:</label>
                <input type="tel" class="form-control" id="userPhone">
            </div>

        </div>

        <div class="text-end mt-4">
            <button class="btn bg-main">Register</button>
        </div>
    </div>
</section>
