<nav class="navbar navbar-expand-lg bg-main-light p-3">
  <div class="container">
    <a class="navbar-brand" routerLink="/home">
      <img src="./assets/images/freshcart-logo.svg" alt="Logo" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse d-flex justify-content-lg-end justify-content-center navbar-collapse" id="navbarNav">
     
      <ul class=" navbar-nav gap-2 mt-3 mt-lg-0 text-center text-lg-start">
       <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa-solid fa-language fs-3"></i>
          </a>
          <ul class="dropdown-menu">
            <li [class.bg-main] ="_TranslateService.currentLang === 'en'" (click)="change('en')"><a class="dropdown-item" [class.text-white] ="_TranslateService.currentLang === 'en'" href="#">EN</a></li>
            <li [class.bg-main] ="_TranslateService.currentLang === 'ar'" (click)="change('ar')"><a class="dropdown-item" [class.text-white] ="_TranslateService.currentLang === 'ar'" href="#">AR</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link position-relative" aria-current="page" routerLink="/signin" routerLinkActive="navlink-active"
            >{{"auth-layout.auth-nav.login" | translate}}
          </a>
        </li>

         <li class="nav-item">
          <a class="nav-link position-relative" aria-current="page" routerLink="/signup" routerLinkActive="navlink-active"
            >{{"auth-layout.auth-nav.register" | translate}}
          </a>
        </li>

        
      </ul>

    </div>
  </div>
</nav>

